<footer>
  <p>© {{ site.time | date: "%Y" }} {{ site.title }}. All rights reserved.</p>

  <!-- ICP 备案号 -->
  {% if site.icp %}
  <p>
    <a href="https://beian.miit.gov.cn/" target="_blank" rel="noopener">
      {{ site.icp }}
    </a>
  </p>
  {% endif %}

  <!-- 公安备案号 -->
  {% if site.beian %}
  <p>
    <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode={{ site.beian }}"
       target="_blank" rel="noopener">
      <img src="https://www.beian.gov.cn/img/new/gongan.png"
           style="height:16px; vertical-align:middle; margin-right:5px;"
           alt="公安备案图标">
      鲁公网安备 {{ site.beian }}号
    </a>
  </p>
  {% endif %}
</footer>
